#featured-product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 1rem;
}

.featured-product-link {
	background-color: #50bac8;
	padding: 1rem;
	border: 2px solid #232f40;
	border-radius: 10px;
}

.featured-product-link p {
	text-align: center;
	font-size: larger;
	font-weight: bold;
}